# Data Type

Numbers

In [12]:
1+1

2

In [13]:
1*3

3

In [14]:
1/2

0.5

In [15]:
2**4
# 제곱

16

In [16]:
5%2
# 나누기하고 나머지 값

1

In [17]:
(2+3)*(5+5)

50

In [18]:
2+3*5+5

22

변수 대입

In [19]:
# 변수
name_of_var =2

In [20]:
name_of_var

2

In [21]:
x=2
y=3

In [22]:
z=x+y

In [23]:
z

5

In [24]:
# 변수는 숫자나 특수문자로 시작할수 없다.

strings <-Markdown 으로 문자 입력

In [25]:
'single quotes'
#단따음표

'single quotes'

In [26]:
"double quotes"
#쌍따음표

'double quotes'

In [27]:
"wrap lot's of other quotes"
# 파이썬에서는 space를 문자로 인식한다.

"wrap lot's of other quotes"

printing(출력)

In [28]:
x = "hello"

In [29]:
x

'hello'

In [30]:
print(x)

hello

In [31]:
num = 12
name = 'Sam'

In [32]:
print('My number is : {one}, and my name is: {two}'.format(one=num,two=name))

My number is : 12, and my name is: Sam

In [33]:
print('My number is : {}, and my name is: {}'.format(num,name))

My number is : 12, and my name is: Sam

In [34]:
num1 = 18
name1 = '최수혁'

In [35]:
print('저의 나이는 {}살 저의 이름은 {} 해적왕이될 남자다!'.format(num1,name1))

저의 나이는 18살 저의 이름은 최수혁 해적왕이될 남자다!

Lists

In [36]:
[1,2,3]

[1, 2, 3]

In [37]:
['hi',1,[1,2]]
# 리스트 안에 다양한 형태의 데이터가 들어갈 수 있다

['hi', 1, [1, 2]]

In [38]:
my_list = ['a','b','c']
# 리스트형의 데이터 타입에 추가 데이터를 넣는 방법

In [39]:
my_list.append('c')

In [40]:
my_list.pop(0)

'a'

In [41]:
my_list

['b', 'c', 'c']

In [42]:
my_list[0]

'b'

In [43]:
my_list[1]

'c'

In [44]:
my_list[1:]

['c', 'c']

In [45]:
my_list[0] = "NEW"

In [46]:
my_list

['NEW', 'c', 'c']

In [47]:
nest = [1,2,3,[4,5,['target']]]

In [48]:
nest[3]

[4, 5, ['target']]

In [49]:
nest[3][2][0]

'target'

Dictionaries

In [50]:
d = {'key1':'item1','key2':'item2'}
# 매핑(Mapping)
# 데이터이름 : 데이터 내용

In [51]:
d['key1']

'item1'

In [52]:
d['key2']

'item2'

Booleans : 참과 거짓을 표현하는 데이터 형태

In [53]:
True
# 1

True

In [54]:
False
# 0

False

Tuples

In [55]:
t = (1,2,3)

In [56]:
t[0]

1

Sets

In [57]:
{1,2,3}

{1, 2, 3}

In [58]:
{1,2,3,1,2,1,2,3,3,3,3,3,2,2,2,1,1,2}
# Set 이라는 데이터 타입은 중복을 허용하지 않는다

{1, 2, 3}

Comparison Operators

In [59]:
1>2

False

In [60]:
1<2

True

In [61]:
1>=1
# > or =, 두 조건 중 하나만 성립하면 True

True

In [62]:
1<=4

True

In [63]:
1==1
# 대입연산자
# == 같다,

True

Logic Operators : 논리연산자

In [64]:
'hi' == 'bye'

False

In [65]:
(1>2)and(2<3)
# and 는 둘 다 참이어야만 참이다.

False

In [66]:
(1>2)or(2<3)
# or 는 둘 중 하나만 참이어야 참이다.

True

In [67]:
(1==2)or(2==3)or(4==4)
# 3개(항의 개수) 중 하나만 참이면 참이다.

True

if,elif,else Statements

In [68]:
if 1 <2:
    print('Yep!')

Yep!

In [69]:
if 1 <2:
    print('yep!')

yep!

In [70]:
if 1> 2:
    print('first')
else: # True가 아닐경우, if문 조건에 맞지 않을 경우
    print('last')
#if 문이 실행되는조건은 1>2이어야 하는데, 1은 2보다 크지 않으므로, if문이 실행되지 않고, else 문이 실행됨

last

In [71]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

for Loops

In [72]:
seq = [1,2,3,4,5]

In [73]:
for item in seq:
    print(item)

1
2
3
4
5

In [74]:
for item in seq:
    print('yep')

yep
yep
yep
yep
yep

In [75]:
for jelly in seq:
    print(jelly+jelly)
# seq 안에 1,2,3,4,5 가 들어있긴때문에 젤리를 넣어서 seq + seq가 된다

2
4
6
8
10

In [76]:
for a in seq:
    print(a)

1
2
3
4
5

In [77]:
for hello in seq:
    print(hello+hello)

2
4
6
8
10

while Loops

In [78]:
i = 1
while i < 5: # 5보다 작을때까지만 출력
    print('i is: {}'.format(i)) #()에 i를 넣는다
    i = i+1 # 그 루 i에 1을 더한다

i is: 1
i is: 2
i is: 3
i is: 4

range()

In [79]:
range(5)
# range는 0부터 쓴 숫자까지 출력

range(0, 5)

In [80]:
for i in range(5):
    print(i)

0
1
2
3
4

In [81]:
list(range(5))

[0, 1, 2, 3, 4]

In [82]:
x =[1,2,3,4]

In [83]:
out = []
for item in x:
    out.append(item**2) # out 이라는 이름에 list에 괄호 안 내용을 추가 해라.
print(out)

[1, 4, 9, 16]

In [84]:
[item**2 for item in x]
# x안에 있는 내용을 차례대로 item이라는 이름으로 뽑는다. 그런후에 item**2의 내용으로 list에 채워 넣는다.

[1, 4, 9, 16]

functions

In [85]:
# def 는 함수 명 앞에 놓여서 함수를 정의한다는 뜻.
# (param1 = 'default')는 parameter, 함수를 실행할 때 파라미터가 입력값으로 들어가 실행된다.
# 함수 내부에서 주석으로 처리하고자 하는 부분은 """ 로 시작하여 """ 로 끝나면 된다. 해당사항은 함수 내용에 영향을 미치지 않는다.
# my_func라는 함수는 스트림 형태를 param1에 저장하여 param1을 프린트하는 기능을 가졌다
# function = 함수 = 기능을 하는 것
def my_func(param1 = 'default'):
    """"
    Docstring goes here.
    """
    print(param1)

In [86]:
my_func

In [87]:
my_func()

default

In [88]:
my_func('new param')

new param

In [89]:
# 함수 my_func 를 통해서 파라미터에 들어가 있는 스트림 형태의 데이터를 print 하게 된다.
my_func(param1 = 'new param')

new param

In [90]:
# square 라는 이름의 함수는 숫자 하나를 받아들여서 그 숫자의 제곱값을 내 놓는 기능을 한다.
def square(x):
    return x**2

In [91]:
# square라는 함수에 2라는 숫자를 파라미터로 넣어서 그 결과값을 out라는 변수에 담아 둔다.
out = square(12)

In [92]:
# out에 담긴 2*2가 출력된다.
print(out)

144

In [93]:
square(3)

9

In [94]:
def times2(c):
    return c*2

In [95]:
choi = times2(2)

In [96]:
print(choi)

4

map and filter

In [97]:
seq = [1,2,3,4,5]

In [98]:
# 함수 times2는 *2이다, seq에 넣은 숫자들을 *2를 해서 출력한 값
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [99]:
# lambda 함수의 뒤에 오는 두가지 a : a*2는 a를 input으로 받아서 a*2를 output으로 내 놓으라는 뜻이다.
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [100]:
list(map(lambda var : var*3,seq))

[3, 6, 9, 12, 15]

In [101]:
list(map(lambda var : var*1/2,seq))

[0.5, 1.0, 1.5, 2.0, 2.5]

In [102]:
list(map(lambda var : var*2,seq[0:2]))
#map = 하나씩 대입

[2, 4]

In [103]:
#filter = 조건이 맞을때만 출력하는 것이다. 그래서 lambda에 item이라는 변수에 seq의 리스트 내용 중 앞에서부터 하나씩 넣었을 때 해당 item을 2로 나눈 나머지가 0인 것만 빼서 출력한다
list(filter(lambda item : item %2==0,seq))

[2, 4]

In [104]:
list(filter(lambda item : item %2==1,seq))

[1, 3, 5]

In [105]:
t = lambda var:var*2

In [106]:
t(24)

48

methods

In [107]:
st = 'hello my name is Sam'

In [108]:
st.lower()

'hello my name is sam'

In [109]:
st.upper()

'HELLO MY NAME IS SAM'

In [110]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [111]:
tweet = 'Go Sports! #Sports'

In [112]:
tweet

'Go Sports! #Sports'

In [113]:
tweet.split("#")

['Go Sports! ', 'Sports']

In [114]:
tweet.split("#")[1]

'Sports'

In [115]:
# dic1 은 dictionary라는 형태의 데이터 타입
#dictionary의 데이터는 key와 value로 구성되어 있다.
dic1 = {'a':1, 'b':2, 'c':3}

In [116]:
dic1

{'a': 1, 'b': 2, 'c': 3}

In [117]:
dic1.keys()

dict_keys(['a', 'b', 'c'])

In [118]:
dic1.items()

dict_items([('a', 1), ('b', 2), ('c', 3)])

In [119]:
dic1.values()

dict_values([1, 2, 3])

In [120]:
lst = [1,2,3,4,5,6,7]

In [121]:
popednumber = lst.pop()

In [122]:
popednumber

7

In [123]:
popednumber1 = lst.pop()

In [124]:
popednumber1

6

In [125]:
lst

[1, 2, 3, 4, 5]

In [126]:
lst.pop()

5

In [127]:
lst

[1, 2, 3, 4]

In [128]:
lst = [1,2,3,4]

In [129]:
popednumber2 = lst.pop(0)

In [130]:
popednumber2

1

In [131]:
lst

[2, 3, 4]

In [132]:
lst.append('new')
# append는 추가한다는 뜻으로 문자나 숫자를 추가 가능하다
#실수로 여러번 추가 했으면 pop()로 맨뒤에 있는 것을 지운다

In [133]:
lst.pop()

'new'

In [134]:
lst

[2, 3, 4]

In [135]:
'x'in[1,2,3]
#x라는 문자가 뒤에 리스트에 들어있는지 물어보는 것 리스트안에 없으므로 Flase가 나온다

False

In [136]:
'x'in['x','y','z']
#리스트 안에 x 가 들어있으므로 Ture가 나온다

True

In [137]:
x = [(1,2,), (3,4), (5,6)]

In [138]:
x[0]

(1, 2)

In [139]:
x[0][1]

2

In [140]:
for 아잉 in x:
    print(아잉)

(1, 2)
(3, 4)
(5, 6)

In [141]:
for (아잉, 사랑해) in x:
    print(사랑해)

2
4
6

In [142]:
# for a,b in x: 와 같이 적어도 똑같다.
for (아잉, 사랑해) in x:
    print(아잉)
    print(사랑해)

1
2
3
4
5
6

In [143]:
x[1:] = "new"

In [144]:
x

[(1, 2), 'n', 'e', 'w']

In [145]:
def findDog(st):
    return 'dog' in st.lower().split()

In [146]:
findDog('Is there a dog here?')

True

In [148]:
def findDog(st):
    return st.lower()
findDog('Is there a dog here?')

'is there a dog here?'

In [149]:
def findDog(st):
    return st.split()
findDog('Is there a dog here?')

['Is', 'there', 'a', 'dog', 'here?']

In [154]:
def findCat(st):
    return 'cat' in st.lower().split()

In [155]:
findCat('dog good')

False

In [157]:
def countDog(st):
    count = 0
    for word in st.lower().split():
        if word == 'dog':
            count += 1
    return count

In [158]:
countDog('This dog runs faster than the other dog dude!')

2

In [160]:
seq = ['soup','dog','salad','cat','great']

In [161]:
list(filter(lambda word: word[0]=='s',seq))

['soup', 'salad']

In [192]:
def counts(st):
    count = 0
    for words in st.lower():
        if words == 's':
            count += 1
    return count

In [193]:
counts('soup, dog, salad, cat, great')

2

In [197]:
def counts(st1):
    count = 0
    for words in st1.lower().split():
        if words[0] == 's':
            count += 1
    return count

In [198]:
st2 = 'soup dog salad catgreat'
counts(st2)

2

In [210]:
def caught_speeding(number):

    if number >= 90:
        print('A')
    elif number >= 80:
        print('B')
    elif number >= 70:
        print('C')
    elif number<70:
        print('낙제')

In [215]:
caught_speeding(100)

A