1번

s = 'Hi there Sam!'을 활용하여 아래와 같이 출력되도록 하세요.

In [4]:
s = 'Hi there Sam!'
x = s.split(" ")
x[2]='dad!'

In [5]:
x

['Hi', 'there', 'dad!']

2번

planet = "Earth"

diameter = 12742

위 변수들을 활용하여 아래와 같이 출력되도록 하세요.

In [25]:
planet = "Earth"
diameter = 12742
print("The diameter of {} is {} kilometers.".format(planet,diameter))

The diameter of Earth is 12742 kilometers.

In [125]:
planet = "Earth"
diameter = 12742
print("The diameter of {one} is {two} kilometers.".format(one=planet,two=diameter))
# 변수를 넣을거면 이렇게 넣자

The diameter of Earth is 12742 kilometers.

3번

lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7] 을 활용하여 
아래와 같이 출력되도록 하세요.

In [21]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]
lst[3][1][2]
# Index 3에 [5,[100,200,['hello']],23,11] 전체가 해당.

['hello']

4번

d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
위 변수를 활용하여 'hello' 가 출력되도록 하세요.

In [99]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [101]:
d["k1"][3]["tricky"][3]["target"][3]

'hello'

5번

domainGet이라는 함수를 만들어서 아래와 같이 되도록 하세요.

In [31]:
domainGet='user@domain.com'
domainGet.split('@')[1]

'domain.com'

6번

findDog라는 함수를 만드세요. 이 함수는 파라미터에 ‘dog’라는 단어가 있을 경우 True를 반환하도록 하고, 없으면 False를 출력하는 것입니다. 아래와 같이 출력되도록 하세요.

In [57]:
findDog = 'dog'

In [58]:
if findDog in 'dog':
    print('True')
else:
    print('False')

True

7번

countDog라는 함수를 만드세요. 이 함수는 파라미터에 ‘dog’라는 단어의 개수를 세어주는 기능을 합니다. 
아래와 같이 되도록 코딩하세요.

In [123]:
countDog = 'dog dog dog dog dog'

if countDog in 'dog':
    print(1)
elif countDog in 'dog dog':
    print(2)
elif countDog in 'dog dog dog':
    print(3)
elif countDog in 'dog dog dog dog':
    print(4)
elif countDog in 'dog dog dog dog dog':
    print(5)
else:
    print(6)
    
# 내꺼 채점 누가하는지는 모르지만 이거 점수좀 주자 어떻게 하는지 모르겠다

5

8번

 seq = ['soup','dog','salad','cat','great'] 라는 변수를 활용하여 단어 맨 앞에 ‘s’가 포함된 단어만 아래와 같이 출력되도록 코딩하세요. 

['soup', 'salad']

In [113]:
 seq = ['soup','dog','salad','cat','great']

In [122]:
seq

['soup', 'salad']

9번

caught_speeding이라는 함수를 만드세요. 속도를 파라미터로 입력하면 그에 따른 범칙금 내용이 출력되도록 만드세요. 시속 80키로가 넘으면 '범칙금 8만원', 시속 60키로가 넘으면 '범칙금 6만원', 60키로 이하인 경우에는 '범칙금 없음'이 출력되도록 하세요. 
caught_speeding이라는 함수를 사용하여 아래와 같은 결과가 나오도록 하세요.

In [112]:
caught_speeding = 120
if caught_speeding <= 60:
    print('범칙금 없음')
elif caught_speeding <= 80:
    print('범칙금 6만원')
else:
    print('범칙금 8만원')

범칙금 8만원

In [10]:
seq = ['soup','dog','salad','cat','great']

In [11]:
list(filter(lambda word: word[0]=='s',seq))

['soup', 'salad']

In [38]:
def counts(st):
    count = 0
    for word in st.lower().split(", "):
        if word[0] == 's':
            count += 1
    return count

In [39]:
counts('soup, dog, salad, cat, great')

2